<!DOCTYPE html>
<html>
<head>
  <title>Online Calculator</title>
</head>
<body>
  Welcome to online calculator:
  This are the available operation
  <ul>
    <li>Addition</li>
    <li>Subtraction</li>
    <li>Multiplication</li>
    <li>Dividision</li>
  </ul>
</body>
</html>
